*{
    font-family: 'Jost', sans-serif;
    margin: auto;
    padding: 0;
    transition:all ease .3s ;
    background:  #f8f8ff;
    scroll-behavior: smooth;
    text-align: center;
    -webkit-transition:all ease .3s ;
    -moz-transition:all ease .3s ;
    -ms-transition:all ease .3s ;
    -o-transition:all ease .3s ;
}
.scrollable-element {
  scrollbar-color: red yellow;
}
header{
    height: 50px;

    
}
header .navBar{
    justify-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 238);
    display: flex;
    justify-content: space-around;
 
    flex-direction: row;
}

header .navBar .logo img{
height: 25px;
}
header .navBar .logo{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    

}
header .navBar .logo p{
    margin-left: 5px;

font-weight: 500;}
header .navBar .navLinks{
    display: none;

}
header .navBar .navLinks ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .navBar .navLinks ul li{
    margin: auto 10px;
}
header .navBar .navLinks ul li a:hover{
    color: red;
}
header .navBar .navLinks ul li a{
    text-transform: uppercase;
    color: rgb(27, 27, 27);
    text-decoration: none;
}
header .navLinks ul li a::after{
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background: #d30000;
    transform: scaleX(100%);
    transition: .5s linear;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -ms-transition: .5s linear;
    -o-transition: .5s linear;
    -webkit-transform: scaleX(100%);
    -moz-transform: scaleX(100%);
    -ms-transform: scaleX(100%);
    -o-transform: scaleX(100%);
}
header .navLinks ul li a:hover header .navLinks ul li a::after{
    transform: scaleX(100%);
    -webkit-transform: scaleX(100%);
    -moz-transform: scaleX(100%);
    -ms-transform: scaleX(100%);
    -o-transform: scaleX(100%);
} 
header .navBar .navRight{
 display: flex;
 justify-content: space-between;
 
    flex-direction: row;
}
header .navBar .navRight a{ padding: 8px 10px; 
    text-decoration: none;
color: black;
    border: 1px solid #ffc600; margin: 5px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px;
}
header .navBar .navRight .menuIcon img{
    height: 17px;
    
margin-right: 5px;
}

 

.home{

}
.home img{
    margin: 10px auto;
}

.home .homeText{
    line-height: 1.7rem;
    width: 95%;
}
.home .homeText h3::after {
    content: ' ';
    margin: auto;
    display: block;
    background-color: #d30000;
    height: 3px;
    width: 50%;
}
.home .homeText p{
    margin: 20px auto;
    color: #7a8292;
}
.home .homeText h1{
    margin: 10px;
    ;
    font-size: 2rem;
    
}.home .homeText  a{
    padding: 8px 10px;
    text-decoration: none;
    color: black;
    border: 1px solid #ffc600;
    margin: 10px auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.containAll{
    margin: 20px auto;
  

}
.containAll .bigCard{
    height: 20rem;  border-radius: 3px;

    background-color: #0075c7; object-fit:contain;
     overflow: hidden;
    margin: 10px;
}
.containAll .contailSmall{
   
display: flex;
flex-direction: column;
 border-radius: 3px;

   
    margin: 10px;
       
  
}
.containAll .contailSmall .small img{
    width: 70%;
  
margin:8% auto;}
.containAll .contailSmall .small img:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.containAll .contailSmall .small{
      
    margin: 10px;
      border-radius: 3px;
}
.smallDash{
    display: flex;
flex-direction: column;
       

}
.smallDash .dash h4{
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
font-size: 1.3rem;
color: #7a8292;
}
.smallDash .dash h4{
    color: rgb(88, 88, 216);
}
.smallDash .dash{
 border: 3px solid blue;
    height: 6rem;
    border-radius: 3px;
    margin: 10px;
    -webkit-border-radius: 1px solid #7a8292 ;
    -moz-border-radius: 1px solid #7a8292 ;
    -ms-border-radius: 1px solid #7a8292 ;
    -o-border-radius: 1px solid #7a8292 ;
}


.firstCards::after {
    content: ' ';
    margin: auto;
    display: block;
    background-color: #d30000;
    height: 3px;
    width: 50%;
}
.cards{
    height: 600px;
}


/*Media querry for pads*/



@media screen and (min-width: 750px){

header{
    height: 5rem;

    
}

header .navBar .navLinks{
    display: contents;

}

header .navBar .navRight .menuIcon img{
    height: 17px;
    
margin-right: 5px;
display: none;
}

.home .homeText h1{
    text-transform: uppercase;
    margin: 30px;
    font-size: 2.5rem;
    
}
.home .homeText a
{
    padding: 10px 30px;
}
.containAll{
    height: 60rem;
    
margin: 20px auto;

}
.cu:hover{
    cursor:ew-resize;
}
.containAll .bigCard{
    height: 50%; 
    width: 100%;
    margin: auto;
}

.containAll .contailSmall{
   
    height: 50%;
display: flex;
flex-direction: row;    
   
  
}

.containAll .contailSmall .small{
 
       height: 100%;
       width: 50%;
       
    
      border-radius: 3px;
}


.smallDash{
    display: flex;
margin: 30px auto;
width: 100%;
       flex-direction: row;

}

.smallDash .dash{
 width: 20%;
    height: 4rem;
    border-radius: 3px;
    margin: 2.5% ;
}

}






/*Media querry for laptops*/

@media  screen and (min-width: 1150px) {


header{
    margin-top: 50px;
    height: 6rem;

    
}
header .navBar{

    background-color: transparent;
}
header p:hover
{
    color: #d30000;
}
header p:hover span{
    color: #0075c7;
}
header .navLinks ul li a::after{
    content: '';
    width: 5px;
    margin: auto;
    transform: scaleX(0);
    height: 5px;
    border-radius: 50%;
    background: #d30000;
    display: block;
    transition: .3s linear;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header .navBar .navLinks ul li a:hover::after{
    transform: scaleX(1);
}
header .navBar .logo img{
height: 45px;
}
header .navBar .logo p{
    margin-left: 5px;
    text-transform: uppercase;
font-size: 1.5rem;
font-weight: 900;}

header .navBar .navRight a{ padding: 10px 30px; 
    text-decoration: none;
color: black;
    border: 1px solid blue; margin: 5px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px;
}
.navRight a:hover{
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
}
.home{
    height: 90vh;
    position: relative;
    
}
.home .logo{
   height: 80%;  
   width: 50%;
   margin-top: 5%;
}
.home .up-arr{
    position: fixed;
    z-index: 5;
    right: 5%;
    bottom: 100%;
    visibility: hidden;
    transition: .5s;
    width: 40px;
    background: transparent;
    cursor: pointer;
}
.home .homeText{
    width: 50%;

  text-align: left;
    height: 100%;
    float: right;
position: relative;
}
.home .homeText  p{
  text-align: left;  
   font-size: 1.5rem;
   width: 80%;
   margin-left: 0;
   
}
.home .homeText  h3{
  text-align: left; margin-top: 30% ;font-size: 1.8rem;
}

.home .homeText h3::after {
    content: ' ';
    margin: 15px 5px;
    display: block;
    background-color: #d30000;
    height: 3px;
    width: 80%;
}

.home .homeText  a{
}


.home .homeText h1{
position:absolute;

    text-transform: uppercase;
  text-align: left;
  margin: 20% auto;

    font-size: 3.5rem;
    
}
.home .homeText a
{position:absolute;
  
    padding: 10px 30px;
  text-align: left;

}
.firstCards{
    width: 100%;
    margin: auto;
    height: 500px;
}
.firstCards .containAll{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.firstCards .containAll .bigCard{
    width: 50%;
    height: 100%;
}
.firstCards .containAll .contailSmall .small{
    height: 100%;
    
    width: 100%;
}
.firstCards .containAll .contailSmall {
width: 50%;
height: 50%;
margin:  auto;
}
.smallDash{
    height: 100px;
    width: 70%;
    margin: 60px auto;
}
.smallDash {
    display: flex;
    align-items: center;
}
.smallDash .dash{
    border: 1px solid blue;
}
.footer{
    height: 350px;
padding-top: 80px;
}

.footer h1{
    font-size: 2rem;
  color: black;
}


.footer .navLinks ul{
    justify-content: center;

    list-style: none;
    display: flex;
    
    flex-direction: row;
}
.footer .navLinks ul li{
    margin: 20px ;

}
.footer .navLinks ul li a{
    text-transform: uppercase;
    color: rgb(7, 7, 48);

    text-decoration: none;
}

.footer p{
    justify-content: space-around;
    color: black;

}
.footer img{
    margin-top: 15px;
    height: 100px;
}
.main-card-container{
    margin-top: 300px;
}

.card-container{
  width: 80%;
  display: flex;
  position: relative;
}
.cards{
  height: 30vh;
  width: 45%;
  background: rgba(255,255,255,0.05);
  box-shadow: 0 0 2px 1px rgb(171, 171, 175);
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  position: relative;
}
.small-card{
  width: 60%;
  height: 10vh;
  background: rgb(45, 45, 182);
  box-shadow: 0 0 2px 1px rgb(171, 171, 175);
  border-radius: 5px;
}
.cards a{
  position: absolute;
  text-decoration: none;
  color: #7a8292;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.cards a::after{
  content: '';
  height: 5px;
  width: 100%;
  transform: scaleX(0);
  display: block;
  background: #d30000;
  transition: .5s linear;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}
.cards a:hover{
  color: #7a8292;
}

.cards:hover a{
  color: #7a8292;
  bottom: 10%;
  opacity: 1;
}
.cards:hover a::after{
  transform: scaleX(1);
  border-radius: 25px;
  width: 100%;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}
.footer .navLinks ul li a:hover{
    text-decoration: line-through;
    color: #0075c7;
}


}
